header {
	min-height: 8.5em;
	background-color: black;
}

main {
	margin: 0 1.3125em;
	min-height: 25.625em;
	padding-top: 2.3em;
}

h1, h2 {
	margin: 0;
	font-size: 2.8125em;
	text-transform: uppercase;
	font-family: "Oswald", arial, sans-serif;
	font-weight: 400;
	line-height: 1.19;
	color: #00354f;
}

h2 {
	font-size: 1.9em;
}

a {
	font-size: 0.75em;
	line-height: 1.7;
	color: #bcc5cc;
}

a:hover {
	color: #114b9b;
}

p {
	font-size: 0.73em;
	line-height: 1.6;
	margin: 0 0 1.1em 0;
	color: #7a8288;
}

blockquote, h3 {
	text-transform: uppercase;
	line-height: 1.75;
	color: #2f6db5;
	font-size: 1em;
	font-weight: 400;
}

blockquote {
	margin: 0 0 1.1em 0;
	border-left: 0.125em solid #c9c9c9;
	padding-left: 0.5em;
}

blockquote:before {
	content: "\"";
}

blockquote:after {
	content: "\"";
}

section {
	margin-bottom: 1.1em;
}

.post-options {
	overflow: hidden; 
	a {
		display: block;
		float: left;
		margin-right: 0.4375em;

		&:hover {
			.option-icon {
				background-color: #123250;
			}
		}
		
		.option-icon {
			float: left;
			width: 32px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 1.4em;
			background-color: #5f686f;

			.fa {
				color: #fff;
			}
		}

		.option-text {
			display: none;
		}
	}
}

.author {
	text-align: center;
	margin: 4.625em 0;
	a {
		text-decoration: none;
		font-size: 0.9em;
		margin-right: 0.75em;
	}

	h3 {
		margin-bottom: 0;
		line-height: 1.3;
	}

	.photo {
		border-radius: 2.625em;
		width: 5.25em;
		height: 5.25em;
		background: url(../images/author.jpg) no-repeat;
		margin: 0 auto;
	}
}

.ad {
	text-align: right;
	margin-bottom: 2.5em;
	.image-bg {
		display: block;
		background-color: #3d79bb;

		&:hover {
			img {
				opacity: 1;
			}
		}

	}
	img {
		display: block;
		width: 100%;
		opacity: 0.3;
	}

	a {
		font-size: 0.9em;
		line-height: 2.5;
	}
}

.hr {
	background-color: #e3e3e3;
	min-height: 1px;
	margin: 0 -1.3125em;
}

.posts {
	margin-top: 3.6em;
}

footer {
	min-height: 17.6875em;
	background-color: black;
}